* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

:root {
  /* color collect  */
  --light: #FFFFFF;
  --dark: #191A20;
  --yellow: #FBA70B;
  --danger: #F15768;
  --gradient__one: #F47B45;
}

html {
  font-size: 65.2%;
}

body {
  font-family: sans-serif;
}

::-moz-selection {
  background: var(--danger);
  color: var(--light);
}

::selection {
  background: var(--danger);
  color: var(--light);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
  color: #5e5e5ec9;
}

.smp {
  font-size: 1.6rem;
  color: #5e5e5ec9;
}

.xmp {
  font-size: 1.4rem;
  color: #5e5e5ec9;
}

img {
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h2 span {
  color: var(--gradient__one);
}

.btn {
  background: var(--yellow);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--light);
  padding: 1rem 2rem;
  border-radius: 4rem;
}

.btn:hover {
  background: var(--danger);
  color: #FFFFFF;
}

/* header area strate  */
.navbar__bg {
  padding: 0;
  position: relative;
}

.active {
  color: var(--yellow) !important;
}

.nav__brand {
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.navbar__nav {
  width: 50%;
  margin: 0 auto;
}

.nav-item {
  padding: 1rem;
}

.nav-item:hover .dropdown__menu {
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
  top: 5.5rem;
}

.nav__link {
  font-size: 1.2rem;
  padding: 2rem;
  margin-left: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--yellow) !important;
}

.nav__item:hover .fa-angle-down {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown__menu {
  position: absolute;
  top: 0rem;
  width: 20rem;
  display: none;
}

.dropdown__menu .nav__link {
  padding: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.dropdown__menu .nav__item:hover {
  background: var(--yellow);
  -webkit-transition: .5s;
  transition: .5s;
}

.dropdown__menu .nav__item:hover .nav__link {
  -webkit-transition: .5s;
  transition: .5s;
  margin-left: .2rem;
  background: var(--light);
  letter-spacing: .05rem;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding-left: 2rem;
}

li {
  list-style: none;
}

/*header area end */
.nav__bg {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 40%;
  height: 85rem;
  background-image: url("../img/banner-bg.png");
  background-size: auto;
  background-repeat: no-repeat;
  background: cover;
}

/*main header strate */
.main__area {
  width: auto;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(
    '../img/left-bg-decor.png'
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main__area .header__text h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5.5rem;
  font-weight: 900;
}

.main__area .header__text p {
  margin-top: 5rem;
}

/* main header end */
/* main nav strate */
.main__nav {
  margin-top: 30rem;
}

.card__body {
  padding: 4rem;
}

.card__body .card__img {
  width: 8rem;
  margin: 2rem auto;
}

.card__body .card__text {
  margin: 2rem auto;
}

.card__body .card__btn .btn {
  background: var(--gradient__one);
}

.card__body .card__btn .btn:hover {
  background: var(--danger);
}

.main__footer__section {
  margin-top: 20rem;
  background: url('../img/right-bg-decor.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.circle__img {
  width: 60%;
  margin: 0 auto;
}

.main__footer__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 0rem;
}

.main__footer__img {
  width: 8rem;
  height: 8rem;
  margin: 0rem 3rem;
}

/*main carousel section */
.owl-theme .owl-dots .owl-dot {
  display: none;
}

.item {
  padding: 4rem;
}

.carousel__section__text {
  text-align: center;
  padding: 20rem 0rem 10rem 0;
  
}

.item__body {
  width: 35rem;
  height: 28.5rem;
  background: linear-gradient(135deg, #F47B45, #F15768);
  text-align: center;
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding-top: 6rem;
}

.item__body .item__img {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  top: -0rem;
  left: 0rem;
}

.item__body .item__icons {
  color: var(--light);
}

.item__body h3 {
  color: var(--light);
  margin: 2rem 0;
}

.item__body .xmp {
  color: var(--light);
  font-family: cursive;
}

.owl-carousel .owl-nav button.owl-prev span {
  z-index: 9;
  top: 30%;
  border-radius: 1rem;
  font-size: 4.6rem;
  color: #fff;
  right: -15rem;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  display: inline-block;
  background: #f4813f;
  background: linear-gradient(145deg, #f4813f 0%, #f1556a 100%);
  position: absolute;
}

.owl-carousel .owl-nav button.owl-next span {
  z-index: 9;
  top: 44%;
  border-radius: 1rem;
  font-size: 4.6rem;
  color: #fff;
  right: -20rem;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  display: inline-block;
  background: #f4813f;
  background: linear-gradient(145deg, #f4813f 0%, #f1556a 100%);
  position: absolute;
}

/*main carousel section */
footer {
  margin-top: 18rem;
  padding-top: 25rem;
  width: 100%;
  background: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pb__5 {
  padding-bottom: 10rem;
}

.form-control {
  border: none;
}

.bg__light {
  background: var(--light);
  border-radius: .5rem;
}

.bg__light .bottun .btn {
  margin: 10rem 0 2rem 0;
  left: 50%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  background: var(--gradient__one);
}

.bg__light .bottun .btn:hover {
  background: var(--danger);
}

.footer__header {
  padding: 2rem;
}

.footer__header h2 {
  font-size: 4rem;
  color: var(--light);
}

.footer__header h2 span {
  color: #FBA70B;
}

.footer__header .smp {
  color: #fff;
  margin-bottom: 3rem;
}

.footer__icon .icons {
  overflow: hidden;
  margin-top: 3rem;
}

.icons li:first-child {
  margin-left:0rem;
}

.icons li {
  margin: 0rem .705rem;
  display: inline-block;
}

.icons li a {
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: .1rem solid #fff;
  width: 4.4rem;
  height: 4.4rem;
  line-height: 4.4rem;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icons li a:hover {
  background-color: #fba70b;
  border-color: #fba70b;
  color: #fff;
}

.footer__end {
  padding: 6rem 0rem;
  text-align: center;
}

.footer__end__text .smp {
  color: var(--light);
}
